@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
body {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Titan One', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

button {
  border: none;
  font-family: 'DM Sans';
}

.container {
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    padding: 0 20px;
    width: 320px;
  }
}

.btn-hero {
  font-size: 8px;
  line-height: 1.303;
  padding-bottom: 160px;
}

.btn-hero__products {
  height: 24px;
  width: 61.4px;
  font-weight: 400;
  color: #fff;
  border-radius: 20px;
  background-color: #d41443;
  margin-right: 8px;
}

.btn-hero__about {
  color: #d41443;
  background-color: #fff;
  width: 82.8px;
  height: 24px;
  border-radius: 20px;
}

.logo {
  width: 199px;
  height: 50px;
}

.hero {
  background-color: #ffb8ca;
}

.hero__div {
  position: relative;
  z-index: 1;
}

.hero__div::after {
  z-index: -1;
  margin-right: 20px;
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  background-image: url(../images/hero/header/ice.png);
  width: 171px;
  height: 410px;
  display: inline-block;
}

.hero__header {
  padding-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 137px;
}

.hero__header__menu {
  width: 20px;
  height: 12px;
}

.hero__title {
  color: #ffffff;
  width: 218px;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.154;
  letter-spacing: 0.04em;
  margin-bottom: 19px;
}

.hero__title--part {
  color: #d41443;
  font-size: 48px;
  line-height: 0.958;
  letter-spacing: 0.04em;
}

.hero__container {
  position: relative;
}

.hero__container::after {
  margin-right: 20px;
  position: absolute;
  content: '';
  bottom: 75px;
  right: 0;
  background-image: url(../images/hero/header/ellipse.png);
  width: 284px;
  height: 344px;
  display: inline-block;
}

/*ADVENTAGES*/
.adventages {
  background-color: #fff5f6;
}

.adventages .container {
  padding-left: 20px;
  padding-right: 70px;
  padding-top: 100px;
  width: 100%;
}

.adventages .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.adventages__description {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;
  padding-bottom: 97px;
}

.adventages__title {
  font-family: Titan One;
  color: #d41443;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.145;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.adventages__title--first {
  position: relative;
}

.adventages__title .adventages__title--first::before {
  position: absolute;
  top: -65px;
  content: url(../images/adventages/icon1.png);
}

.adventages__title--second {
  position: relative;
}

.adventages__title--second::before {
  position: absolute;
  top: -65px;
  content: url(../images/adventages/icon2.png);
}

.adventages__title--third {
  position: relative;
}

.adventages__title--third::before {
  position: absolute;
  top: -65px;
  content: url(../images/adventages/icon3.png);
}

@media screen and (min-width: 768px) {
  .adventages .container {
    padding-left: 36px;
    padding-right: 76px;
    padding-top: 120px;
  }
  .adventages .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: -60px;
  }
  .adventages__item {
    margin-left: 60px;
  }
  .adventages__description {
    font-size: 14px;
    line-height: 1.7;
    padding-bottom: 140px;
  }
  .adventages__title {
    font-size: 48px;
    margin-bottom: 13px;
  }
  .adventages__title--first::before {
    top: -95px;
  }
  .adventages__title--second::before {
    top: -95px;
  }
  .adventages__title--third::before {
    top: -95px;
  }
}

@media screen and (min-width: 1280px) {
  .adventages .container {
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 100px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .adventages__description {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
  .adventages__title {
    font-size: 58px;
    line-height: 1.138;
    margin-bottom: 13px;
  }
}
/*# sourceMappingURL=main.css.map */