// font
$font-family-primary: 'Titan One', cursive;
$font-family-second: 'DM Sans', sans-serif;

//font-color
$font-color-primary: #d41443;
$font-color-second: #ffa5ba;
$font-color-third: #fff;
$font-color-fourth: #000;
$font-color-footer: #907e82;

//background-color
$background-color-primary: #ffb8ca;
$background-color-second: #ffa5ba;
$background-color-third: #fff5f6;
$background-color-coffee: #f0d1a5;
$background-color-milkshakes: #c2e297;
