$font-family-primary: 'Titan One', cursive;
$font-family-second: 'DM Sans', sans-serif;
$font-color-primary: #D41443;
$font-color-second: #FFA5BA;
$font-color-third: #FFF;
$font-color-fourth: #000;
$font-color-footer: #907E82;
$background-color-primary: #FFB8CA;
$background-color-second: #FFA5BA;
$background-color-second: #FFF5F6;
$background-color-coffee: #F0D1A5;
$background-color-milkshakes: #C2E297;