  <section class="about-section" id="made">
    <div class="container">
      <p class="about-section__label">tradition and love</p>
      <h2 class="about-section__title">how it's made?</h2>
      <div class="about-content">
        <div class="section-image">
          <picture>
            <source srcset="./images/about/about-mobile@1x.png 1x, ./images/about/about-mobile@2x.png 2x"
              media="(max-width: 767px)" />
            <source srcset="./images/about/about-tablet@1x.png 1x, ./images/about/about-tablet@2x.png 2x"
              media="(max-width: 1199px)" />
            <source srcset="./images/about/about-desktop@1x.png 1x, ./images/about/about-desktop@2x.png 2x"
              media="(min-width: 1200px)" />
            <img class="section-image__picture" src="./images/about/about-mobile@1x.png" alt="cow and milk" />
          </picture>
        </div>
        <div class="section-content">
          <p class="section-content__pre-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
            justo cursus,
            faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.</p>
          <p class="section-content__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus
            orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
            tincidunt.</p>
          <p class="section-content__after-text">Aliquam erat volutpat. Aenean accumsan.</p>
          <button class="section-content__button" type="button" data-modal-open>Read more
            <img class="btn__arrow-red" src="./images/about/follow.svg" alt="red arrow" width="10" height="10">
            <!-- <svg class="btn__arrow-red" width="10" height="10">
              <use href="images/footer/footer-icons.svg#icon-follow"></use>
            </svg> -->
          </button>
        </div>
      </div>
    </div>
  </section>