<section class="advantages">
  <div class="grid advantages__container">
    <div class="advantages__item">
      <h3 class="advantages__title advantages__title--first">721</h3>
      <p class="advatages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
    <div class="advantages__item">
      <h3 class="advantages__title advantages__title--second">16KG</h3>
      <p class="advatages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
    <div class="advantages__item">
      <h3 class="advantages__title advantages__title--third">84</h3>
      <p class="advatages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
  </div>
</section>
