<section class="adventages">
  <div class="grid">
    <div class="adventages__item">
      <h3 class="adventage__title adventage__title--first">721</h3>
      <p class="advetages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
    <div class="adventages__item">
      <h3 class="adventage__title adventage__title--second">16KG</h3>
      <p class="advetages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
    <div class="adventages__item">
      <h3 class="adventage__title adventage__title--third">84</h3>
      <p class="advetages__description">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </div>
  </div>
</section>
