<section class="adventages">
  <h2 class="hidden">Adventages</h2>
  <div class="container">
    <div class="grid">
      <div class="adventages__item">
        <h3 class="adventages__title adventages__title--first">721</h3>
        <p class="adventages__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
          quod aliquid? Sint aperiam vitae, asperiores ipsum maiores,
          commodi rerum quasi assumenda, a aliquam hic nihil similique eos
          voluptatem eius sequi..
        </p>
      </div>
      <div class="adventages__item">
        <h3 class="adventages__title adventages__title--second">16KG</h3>
        <p class="adventages__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
          quod aliquid? Sint aperiam vitae, asperiores ipsum maiores,
          commodi rerum quasi assumenda, a aliquam hic nihil similique eos
          voluptatem eius sequi..
        </p>
      </div>
      <div class="adventages__item">
        <h3 class="adventages__title adventages__title--third">84</h3>
        <p class="adventages__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus,
          quod aliquid? Sint aperiam vitae, asperiores ipsum maiores,
          commodi rerum quasi assumenda, a aliquam hic nihil similique eos
          voluptatem eius sequi..
        </p>
      </div>
    </div>
  </div>
</section>