<section class="contacts">
  <div class="contacts__container">
  <div class="contacts__box">
    <div class="type-box-one">
      <p class="text type">CAFE</p>
    </div>
    <p class="text">Chicago</p>
    <p class="text description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <div class="border"></div>
    <p class="text">Monday - Friday</p>
    <p class="text time">06:00 AM - 10:00 PM</p>
    <p class="text">Saturday - Sunday</p>
    <p class="text time">08:00 AM - 16:00 PM</p>
    <div class="border"></div>
    <a href="tel:+61(0) 383 766 284" class="contacts__link">+61(0) 383 766 284</a>
    <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
  </div>
  <div class="contacts__box">
    <div class="type-box-two">
      <p class="text type">FOOD TRUCK</p>
    </div>
    <p class="text">Los Angeles</p>
    <p class="text description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <div class="border"></div>
    <p class="text">Monday - Friday</p>
    <p class="text time">06:00 AM - 10:00 PM</p>
    <p class="text">Saturday - Sunday</p>
    <p class="text time">08:00 AM - 16:00 PM</p>
    <div class="border"></div>
    <a href="tel:+61(0) 383 766 284" class="contacts__link">+61(0) 383 766 284</a>
    <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
  </div>
  <div class="contacts__box">
    <div class="type-box-one">
      <p class="text type">CAFE</p>
    </div>
    <p class="text">New York</p>
    <p class="text description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    <div class="border"></div>
    <p class="text">Monday - Friday</p>
    <p class="text time">06:00 AM - 10:00 PM</p>
    <p class="text">Saturday - Sunday</p>
    <p class="text time">08:00 AM - 16:00 PM</p>
    <div class="border"></div>
    <a href="tel:+61(0) 383 766 284" class="contacts__link">+61(0) 383 766 284</a>
    <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
  </div>
    <div class="btn-container">
  <button class="location btn">Our Location ></button>
  <button class="franchise btn">Franchise ></button>
  </div>
  </div>
</section>