  <footer class="footer">
    <div class="container footer__container">
      <div class="footer__text">
        <p class="footer__label">homemade ice cream made</p>
        <p class="footer__title">with passion</p>
      </div>
      <div class="footer__social">
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a class="footer__social-link" href="https://github.com" target="_blank" rel="noopener">
              <img src="images/footer/github.svg" alt="github.com" width="32" height="32">
              <!-- <svg class="footer__social-icon" width="32" height="32">
                <use href="images/footer/footer-icons.svg#icon-github"></use>
              </svg> -->
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="https://telegram.com" target="_blank" rel="noopener">
              <img src="images/footer/telegram.svg" alt="telegram.com" width="32" height="32">
              <!-- <svg class="footer__social-icon" width="32" height="32">
                <use href="images/footer/footer-icons.svg#icon-telegram"></use>
              </svg> -->
            </a>
          </li>
          <li class="footer__social-item">
            <a class="footer__social-link" href="https://facebook.com" target="_blank" rel="noopener">
              <img src="images/footer/facebook.svg" alt="telegram.com" width="32" height="32">
              <!-- <svg class="footer__social-icon" width="32" height="32">
                <use href="images/footer/footer-icons.svg#icon-facebook"></use>
              </svg> -->
            </a>
          </li>
        </ul>
        <div class="footer__adress">
          <span class="footer__contact-tel">Feel free to contact
            <a class="footer__contact-link link" href="tel:+610383766284">+61 (0) 383 766 284</a>
          </span>
        </div>
      </div>
    </div>
    <div class="container copyright__container">
      <p class="copyright__text">&copy; 2019 - IceCream.
        All Rights Reserved.</p>
    </div>
  </footer>