<header class="header">
  <div class="container header__container">
    <nav class="navbar">
      <!-- LOGO -->
      <div class="logo"><img src="./images/hero/header/logo.png" alt="" width="199"></div>
      <!-- NAVIGATION MENU -->
      <ul class="nav-links list">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger"><img src="./images/hero/header/menu.png" alt=""></label>
        
        <!-- NAVIGATION MENUS -->
        <div class="nav__list">
          <li><a href="/index.html"><svg  class="icon-mobile"><use href="./images/icon-devs.svg#icon-menu-close"></use></svg></li>
          <li><a href="/"><button class="nav__list__btn-menu">Buy now &gt;</button></a></li>
          <li class="nav__list__border"><a href="/index.html" class="link nav__list__link nav__list__link--active">Home</a></li>
          <li><a href="#about" class="link  nav__list__link">About us</a></li>
          <li class="nav__list__border"><a href="#made" class="link  nav__list__link">How it’s made?</a></li>
          <li><a href="/#offer" class="link  nav__list__link">Our products</a></li>
          <li class="nav__list__border"><a href="#contact" class="link  nav__list__link">Contact</a></li>
        </div>
        
      </ul>
      <button type="button" class="buttons__buy">Buy now &gt;</button>
    </nav>
  </div>
</header>
