<section class="opinions">
  <img src="images/opinion-contacts/testimonials1.png" alt="">
  <div class="opinions__text">
    <svg class="quote">
      <use xlink:href="images/icon-devs.svg#quote-mark"></use>
    </svg>
    <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
    congue. Lorem ipsum primis in nibh vel risus.</p>
  </div>
    <svg class="elipse">
      <use xlink:href="images/icon-devs.svg#elipse"></use>
    </svg>
    <svg class="elipse">
      <use xlink:href="images/icon-devs.svg#elipse"></use>
    </svg>
    <svg class="elipse">
      <use xlink:href="images/icon-devs.svg#elipse"></use>
    </svg>
  <h1>Emily, Los Angeles</h1>
    <svg class="home">
      <use xlink:href="images/icon-devs.svg#home"></use>
    </svg>
    <svg class="elipse-off">
      <use xlink:href="images/icon-devs.svg#elipse"></use>
    </svg>
    <svg class="elipse-off">
      <use xlink:href="images/icon-devs.svg#elipse"></use>
  </svg>
</section>