<section class="opinions">
  <div class="container">
    <div class="opinions__img">
      <img src="images/opinion-contacts/testimonials1.png">
    </div>
    <div class="opinions__text">
      <svg class="opinions__quote">
        <use href="./images/icon-devs.svg#quote-mark"></use>
      </svg>
      <p class="opinions__par">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
        hendrerit nulla quam nunc,
        accumsan
        congue. Lorem ipsum primis in nibh vel risus.</p>
    </div>
    <div class="opinions__icons">
      <svg class="opinions__elipse">
        <use href="./images/icon-devs.svg#elipse"></use>
      </svg>
      <svg class="opinions__elipse">
        <use href="./images/icon-devs.svg#elipse"></use>
      </svg>
      <svg class="opinions__elipse">
        <use href="./images/icon-devs.svg#elipse"></use>
      </svg>
    </div>
    <h1 class="opinions__name">Emily, Los Angeles</h1>
    <div class="opinions__icons">
      <svg class="opinions__home">
        <use href="./images/icon-devs.svg#home"></use>
      </svg>
      <svg class="opinions__elipse-off">
        <use href="./images/icon-devs.svg#elipse"></use>
      </svg>
      <svg class="opinions__elipse-off">
        <use href="./images/icon-devs.svg#elipse"></use>
      </svg>
    </div>
  </div>
</section>