		<section class="products">
			<div class="products__section-text">
				<p class="products__section-text__label">100% natural</p>
				<h2 class="products__section-text__header">products</h2>
			</div>
			<ul class="products__card list hero__container">
				<li class="card card--icecream">
					<picture class="card__image">
						<source
							media="(max-width: 767px)"
							srcset="
								./images/products/mobile-1-ice.png    1x,
								./images/products/mobile-1-ice@2x.png 2x
							"
						/>
						<source
							media="(min-width: 768px)"
							srcset="
								./images/products/tablet-1-ice.png    1x,
								./images/products/tablet-1-ice@2x.png 2x
							"
						/>
						<source
							media="(min-width: 1280px)"
							srcset="
								./images/products/desktop-1-ice.png    1x,
								./images/products/desktop-1-ice@2x.png 2x
							"
						/>

						<img
							src="./images/products/desktop-1-ice.png"
							alt="pink ice cream"
							width="335"
							height="335"
						/>
					</picture>
					<h3 class="card__header">ice cream</h3>
					<picture class="card__dots">
						<img src="./images/products/pseudo.png" alt="dots" width="26px" height="6px">
					</picture>
					<p class="card__label">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et
					</p>
					<picture class="card__arrow"> 
						<img src="./images/products/arrow.png" alt="" width="40px">
					</picture>
				</li> 
				</li>
				<li class="card card--coffee">
					<picture class="card__image">
						<source
							media="(max-width: 767px)"
							srcset="
								./images/products/mobile-2-ice.png    1x,
								./images/products/mobile-2-ice@2x.png 2x
							"
						/>
						<source
							media="(min-width: 768px)"
							srcset="
								./images/products/tablet-2-ice.png    1x,
								./images/products/tablet-2-ice@2x.png 2x
							"
						/>
						<source
							media="(min-width: 1280px)"
							srcset="
								./images/products/desktop-2-ice.png    1x,
								./images/products/desktop-2-ice@2x.png 2x
							"
						/>

						<img
							src="./images/products/desktop-2-ice.png"
							alt="pink ice cream"
							width="335"
							height="335"
						/>
					</picture>
					<h3 class="card__header">ice coffee</h3>
					<picture class="card__dots">
						<img src="./images/products/pseudo.png" alt="dots" width="26px" height="6px">
					</picture>
					<p class="card__label">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et
					</p>
					
					<picture class="card__arrow"> 
						<img src="./images/products/arrow.png" alt="" width="40px">
					</picture>
				</li>
				</li>
				<li class="card card--milkshakes">
					<picture class="card__image">
						<source
							media="(max-width: 767px)"
							srcset="
								./images/products/mobile-3-ice.png    1x,
								./images/products/mobile-3-ice@2x.png 2x
							"
						/>
						<source
							media="(min-width: 768px)"
							srcset="
								./images/products/tablet-3-ice.png    1x,
								./images/products/tablet-3-ice@2x.png 2x
							"
						/>
						<source
							media="(min-width: 1280px)"
							srcset="
								./images/products/desktop-3-ice.png    1x,
								./images/products/desktop-3-ice@2x.png 2x
							"
						/>

						<img
							src="./images/products/desktop-3-ice.png"
							alt="pink ice cream"
							width="329"
							height="335"
						/>
					</picture>
					
					<h3 class="card__header">milkshakes</h3>
					<picture class="card__dots">
						<img src="./images/products/pseudo.png" alt="dots" width="26px" height="6px">
					</picture>
					<p class="card__label">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et
					</p>
					<picture class="card__arrow"> 
						<img src="./images/products/arrow.png" alt="" width="40px">
					</picture>
				</li>
			</ul>
		</section>