<section class="products">
  <div class="hero__container">
    <div class="products__section-text hero__container"  id="offer">
      <p class="products__section-text__label">100% natural</p>
      <h2 class="products__section-text__header">products</h2>
    </div>
    <ul class="products__card list">
      <li class="card card--icecream">
        <h3 class="card__header">ice cream</h3>

        <p class="card__label">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <picture class="card__arrow">
          <img src="./images/products/arrow.png" alt="" width="40px" />
        </picture>
      </li>

      <li class="card card--coffee">
        <h3 class="card__header">ice coffee</h3>

        <p class="card__label">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>

        <picture class="card__arrow">
          <img src="./images/products/arrow.png" alt="" width="40px" />
        </picture>
      </li>

      <li class="card card--milkshakes">
        <h3 class="card__header">milkshakes</h3>

        <p class="card__label">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <picture class="card__arrow">
          <img src="./images/products/arrow.png" alt="" width="40px" />
        </picture>
      </li>
    </ul>
  </div>
</section>
