<section class="products">
  <div class="products__text">
    <p class="products__text__label">100% natural</p>
    <h2 class="products__text__header">Products</h2>
  </div>
  <div class="products__card">
    <ul class="products__card__list product-card">
      <li class="products-card__item products-card--cream">
        <h3 class="products-card__item__header">ice cream</h3>
        <p class="products-card__item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
      <li class="products-card__item products-card--coffee">
        <h3 class="products-card__item__header">ice coffee</h3>
        <p class="products-card__item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
      <li class="products-card__item products-card--shake">
        <h3 class="products-card__item__header">milkshakes</h3>
        <p class="products-card__item__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
    </ul>
  </div>
</section>
