
.advantages {
background-color: $background-color-second;

&__title {
    font-family: $font-family-primary;
    color: $font-color-primary;
    font-size: 36px;
    line-height: 1.145;
    padding-bottom: 54px;
}
&__item {
    font-family: $font-family-second;
    color: $font-color-fourth;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.700;
    padding-bottom: 38px;
}
}