.advantages {
  background-color: #fff5f6;
  @media screen and (max-width: 767px) {
    padding-bottom: 97px;
    padding-top: 105px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-bottom: 140px;
    padding-top: 152px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 129px;
    padding-bottom: 139px;
  }

  &__container {
    display: flex;
    margin: 0 auto;
    @media screen and (max-width: 767px) {
      height: 478px;
      max-width: 320px;
      padding-left: 20px;
      flex-direction: column;
      justify-content: space-between;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 660px;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 0;
    }

    @media screen and (min-width: 1280px) {
      width: 1280px;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 0;
    }
  }

  &__item {
    @media screen and (max-width: 767px) {
      width: 230px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 180px;
    }

    @media screen and (min-width: 1280px) {
      width: 330px;
    }
  }
  &__title {
    font-family: Titan One;
    letter-spacing: 0.04em;
    color: #d41443;
    @media screen and (max-width: 767px) {
      font-size: 36px;
      line-height: 1.139;
      margin-bottom: 19px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 48px;
      line-height: 55px;
      margin-bottom: 22px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 66px;
      margin-bottom: 24px;
    }
    &--first {
      position: relative;
      &::after {
        position: absolute;
        content: '';
        background-image: url(./../images/advantages/icon1.png);
        @media screen and (max-width: 767px) {
          top: -66px;
          left: 0;
          width: 33px;
          height: 50px;
        }
        @media screen and (min-width: 768px) and (max-width: 1279px) {
          top: -66px;
          left: 0;
          width: 33px;
          height: 50px;
        }
        @media screen and (min-width: 768px) {
          top: -87px;
          left: 0;
          width: 33px;
          height: 50px;
        }
         @media screen and (min-width: 1280px) {
          top: -91px;
          left: 0;
          width: 50px;
          height: 50px;
        }
      }
    }
    &--second {
      position: relative;
      &::after {
        position: absolute;
        content: '';
        background-image: url(./../images/advantages/icon2.png);
        @media screen and (max-width: 767px) {
          top: -66px;
          left: 0;
          width: 50px;
          height: 50px;
        }
        @media screen and (min-width: 768px) {
          top: -87px;
          left: 0;
          width: 50px;
          height: 50px;
        }
        @media screen and (min-width: 1280px) {
          top: -91px;
          left: 0;
          width: 50px;
          height: 50px;
        }
      }
    }
    &--third {
      position: relative;
      &::after {
        position: absolute;
        content: '';
        background-image: url(./../images/advantages/icon3.png);

        @media screen and (max-width: 767px) {
          top: -66px;
          left: 0;
          width: 44px;
          height: 50px;
        }

        @media screen and (min-width: 768px) {
          top: -87px;
          left: 0;
          width: 44px;
          height: 50px;
        }
         @media screen and (min-width: 1280px) {
          top: -91px;
          left: 0;
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  &__description {
    font-family: DM Sans;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #000000;
    @media screen and (max-width: 767px) {
      font-size: 12px;
      line-height: 1.667;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 1.75;
    }
  }
}
