.products {
  @media screen and (max-width: 767px) {
    margin-top: 121px;
    margin-bottom: 119px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 122px;
    margin-bottom: 119px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 127px;
    margin-bottom: 119px;
  }
  &__card {
    position: relative;
    padding: 0;
    display: flex;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      align-content: space-between;
      height: 1714px;
    }
    @media screen and (min-width: 768px) {
      justify-content: space-between;
      width: 700px;
    }
    @media screen and (min-width: 1280px) {
      justify-content: space-between;
      width: 1054px;
    }
  }

  &__section-text {
    text-align: center;

    @media screen and (max-width: 767px) {
      margin-bottom: 144px;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 150px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 259px;
    }
    &__label {
      font-family: Titan One;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;

      color: #ffa5ba;
      @media screen and (min-width: 768px) {
        font-family: Titan One;
        font-size: 26px;
        line-height: 30px;
        text-transform: uppercase;

        color: #ffa5ba;
      }
      @media screen and (min-width: 1280px) {
        font-family: Titan One;
        font-size: 30px;
        line-height: 34px;
        letter-spacing: 0.04em;
        margin-bottom: 15px;

        color: #ffa5ba;
      }
    }
    &__header {
      font-family: Titan One;
      font-size: 34px;
      line-height: 39px;
      letter-spacing: 0.04em;
      text-transform: uppercase;

      color: #d41443;
      @media screen and (min-width: 768px) {
        font-family: Titan One;
        font-size: 48px;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: #d41443;
      }
      @media screen and (min-width: 1280px) {
        font-family: Titan One;
        font-size: 58px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #d41443;
      }
    }
  }
}
